<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>You have been invited to join {{workspaceName}} on Collabtime.</p>
        <p> Please, click the link below to join the team.</p>
        <a href="{{link}}">Join</a>
    </body>
</html>