<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h3>{{workspaceName}} - {{dataCollectionName}}</h3>
        <p>You have been invited to fill-out a request form on Collabtime.</p>
        <p> Please, click the link below to join the team.</p>
        <a href="{{link}}">View form</a>
    </body>
</html>